
@import 'abstracts/variables';
*{
    font-family: 'Nunito Sans', sans-serif;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }
body{
    nav{
        padding:0px 20px;
        height:60px;
        li{
            margin-right:15px;
        }
        button{
            background-color:rgb(0, 81, 255);
            padding:0px 40px;
        }
        nav{
            width:100%;
            .navbar-toggler{
                
                .navbar-toggler-icon{
                    border:none;
                    active{
                        border:none;
                    }
                }
            }
        }
        
        
    }
    .carousel{
        //overflow: hidden;
        width:100%;
        img{
            width:100%;
        }
        .slide1{
            display:flex;
            flex-direction: row;
            .slideimg1{
                height:810px;
                overflow:hidden;
                width:55%;
                .carouselimg1{
                    width:100%;
                }
            }
            .slidetxt1{
                display:flex;
                justify-content:center;
                align-content:center;
                
                //background-color:rgb(0, 81, 255);
                h1{
                    align-self:center;
                    color:rgb(0, 81, 255);
                    //color:white;
                    font-weight: 900;
                    //margin:0px 100px 40px 100px;
                    font-size:80px;
                }
            }
            
        }
        .slide2{

            h2{
            margin:20% 28%;
            //align-self:center;
            position:absolute;
            color:white;
            font-weight: 700;
            //margin:150px 100px 40px 100px;
            font-size:60px;
            }
            #explore{
                color:white;
            }
        }
        .slide3{
            .slideimg3{
                height:810px;
                overflow:hidden;
                width:50%;
                display:inline;
                float:left;
                .carouselimg3{
                    width:100%;
                }
            }
            .slidetxt3{
                float:left;
                background-color:white;
                width:50%;
                height:810px;
                //background-color:rgb(0, 81, 255);
                h2{
                width:50%;  
                margin:350px auto; 
            
                color:rgb(0, 81, 255);
                font-weight: 900;
                //margin:150px 100px 40px 100px;
                font-size:60px;
                }

            }
            
        }
        .slide4{
            
            .slideimg4{
                height:810px;
                overflow:hidden;
                width:50%;
                display:inline;
                float:left;
                .carouselimg3{
                    width:100%;
                   // overflow:hidden;
                }
            }
            .slidetxt4{
                float:left;
                background-color:white;
                width:50%;
                height:810px;
                //background-color:rgb(0, 81, 255);
                h2{
                width:40%;  
                margin:350px auto; 
                color:rgb(0, 81, 255);
                font-weight: 800;
                //margin:150px 100px 40px 100px;
                font-size:60px;
                }

            }
            
        }

        .container4{
            background-color:$-blue;
            width:100%;
            h4{
                color:white;
                font-size:30px;
                

            }
        }
    }


    //SECTION This is Miriam
    .container1{
        background-color:$-blue;
        height:500px;
        .professionalcont1{
            width:50%;
            margin:0px;
            float:left;
            h3{
                font-size:60px;
                width:90%;
                text-decoration:overline;
                color:white;
                font-weight:700;
                text-align:left;
                padding:80px 150px 20px;
            }
            img{
                width:60%;
                margin:0 150px;
            }
        }
       
         
           p{
            color:white;
            font-size:20px;
            width:80%;
            font-weight:600;
            line-height:40px;
            margin:10px 150px;
            padding-top:70px;
            text-align:left;
            
        }
       
    
        
          
    }
    .container2{
        background-color:white;
        margin-bottom:0px;
        
     .row{
        padding-top:40px;
         background-color:white;
         margin:auto;
         width:82%;
         margin-bottom:0px;
         .column3{
             margin-top:80px;
         }

         .gridimg12{
             overflow:hidden;
         }
         .pic {
            position: relative;
            display: inline-block;
          }
          
          .pic:hover > .overlay {
              position: absolute;
              top: 0;
              width:100%;
              height:100%;
              left: 0;
              background-color:#000;
              opacity:0.5;
              z-index: 100;
              display: block;
          }
          
          .info {
            display: none;
            position: absolute;
            top: 100px;
            left: 0;
            color:white;
            z-index: 100;
            text-align: center;
          }
          .portimg1{
              transition:transform .2s;
              :hover{
                  transform:scale(1.5);
              }
          }
         .portfolio1{padding:0px;
             img{
                width: 100%;
                
             }
         }
         img
         {
         width: 100%;
         margin: 10px 0px;
         padding:0px;
         }
     } 
  }
  
  .containerbg{
      background-color:$-blue;
      height:50px; 
      width:100%;
      margin:0;
  }
  .container3{
      height:800px;
      h3{
        font-size:60px;

        text-decoration:overline;
        color:$-blue;
        font-weight:700;
        text-align:left;
        padding:80px 150px 50px;
      }
      p{
        color:$-black;
        font-size:25px;
        width:80%;
        margin:10px 150px;
        text-align:left;
        
    }
    .map{
        width:80%;
        margin:0 100px;
    }
    
    
    .cards{
        border:none;
        margin:0px;
        width:30%;
        margin-right:20px;
        float:left;
        
        .card-body{
            margin-top:0px;
            padding-top:0px;
            .card-text{
                text-align:left;
                margin-left:0px;
                
            }
            
        }
    }
    .card1{
        margin-left:150px;
        overflow: hidden;
        .america{
            
            transition:transform .5s;
        }
        .america:hover{
            transform:scale(1.5);
            cursor:pointer;
        }
    }
    .card2{
        .cardimg{
            
            margin-top:0px;
            
            .cimg{
            margin-top:0;
            height:350px;
            overflow: hidden;
            
                .europe{
                    margin-top:-320px;
                    transition:transform .5s;
              

                }
                .europe:hover{
                    transform:scale(1.5);
                    cursor:pointer;
                }
            }
            
        } 
    }
    div{
        margin-top:30px;
    }
  }
  .container4{
      width:100%;
      background-color:$-blue;
      padding-bottom:30px;
      h4{
        font-size:60px;
        width:90%;
        text-decoration:overline;
        color:white;
        font-weight:700;
        text-align:center;
        margin:auto;
        padding-top:80px;
        
      }
      ul{
          color:white;
          text-align:center;
      }
      button{
          width:10%;
          font-weight: 600;
          font-size:18px;
          margin:50px auto;
      }
  }
 
}