* {
  font-family: 'Nunito Sans', sans-serif;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body nav {
  padding: 0px 20px;
  height: 60px;
}

body nav li {
  margin-right: 15px;
}

body nav button {
  background-color: #0051ff;
  padding: 0px 40px;
}

body nav nav {
  width: 100%;
}

body nav nav .navbar-toggler .navbar-toggler-icon {
  border: none;
}

body nav nav .navbar-toggler .navbar-toggler-icon active {
  border: none;
}

body .carousel {
  width: 100%;
}

body .carousel img {
  width: 100%;
}

body .carousel .slide1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .carousel .slide1 .slideimg1 {
  height: 810px;
  overflow: hidden;
  width: 55%;
}

body .carousel .slide1 .slideimg1 .carouselimg1 {
  width: 100%;
}

body .carousel .slide1 .slidetxt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .carousel .slide1 .slidetxt1 h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #0051ff;
  font-weight: 900;
  font-size: 80px;
}

body .carousel .slide2 h2 {
  margin: 20% 28%;
  position: absolute;
  color: white;
  font-weight: 700;
  font-size: 60px;
}

body .carousel .slide2 #explore {
  color: white;
}

body .carousel .slide3 .slideimg3 {
  height: 810px;
  overflow: hidden;
  width: 50%;
  display: inline;
  float: left;
}

body .carousel .slide3 .slideimg3 .carouselimg3 {
  width: 100%;
}

body .carousel .slide3 .slidetxt3 {
  float: left;
  background-color: white;
  width: 50%;
  height: 810px;
}

body .carousel .slide3 .slidetxt3 h2 {
  width: 50%;
  margin: 350px auto;
  color: #0051ff;
  font-weight: 900;
  font-size: 60px;
}

body .carousel .slide4 .slideimg4 {
  height: 810px;
  overflow: hidden;
  width: 50%;
  display: inline;
  float: left;
}

body .carousel .slide4 .slideimg4 .carouselimg3 {
  width: 100%;
}

body .carousel .slide4 .slidetxt4 {
  float: left;
  background-color: white;
  width: 50%;
  height: 810px;
}

body .carousel .slide4 .slidetxt4 h2 {
  width: 40%;
  margin: 350px auto;
  color: #0051ff;
  font-weight: 800;
  font-size: 60px;
}

body .carousel .container4 {
  background-color: #0051ff;
  width: 100%;
}

body .carousel .container4 h4 {
  color: white;
  font-size: 30px;
}

body .container1 {
  background-color: #0051ff;
  height: 500px;
}

body .container1 .professionalcont1 {
  width: 50%;
  margin: 0px;
  float: left;
}

body .container1 .professionalcont1 h3 {
  font-size: 60px;
  width: 90%;
  text-decoration: overline;
  color: white;
  font-weight: 700;
  text-align: left;
  padding: 80px 150px 20px;
}

body .container1 .professionalcont1 img {
  width: 60%;
  margin: 0 150px;
}

body .container1 p {
  color: white;
  font-size: 20px;
  width: 80%;
  font-weight: 600;
  line-height: 40px;
  margin: 10px 150px;
  padding-top: 70px;
  text-align: left;
}

body .container2 {
  background-color: white;
  margin-bottom: 0px;
}

body .container2 .row {
  padding-top: 40px;
  background-color: white;
  margin: auto;
  width: 82%;
  margin-bottom: 0px;
}

body .container2 .row .column3 {
  margin-top: 80px;
}

body .container2 .row .gridimg12 {
  overflow: hidden;
}

body .container2 .row .pic {
  position: relative;
  display: inline-block;
}

body .container2 .row .pic:hover > .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 100;
  display: block;
}

body .container2 .row .info {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  color: white;
  z-index: 100;
  text-align: center;
}

body .container2 .row .portimg1 {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

body .container2 .row .portimg1 :hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body .container2 .row .portfolio1 {
  padding: 0px;
}

body .container2 .row .portfolio1 img {
  width: 100%;
}

body .container2 .row img {
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
}

body .containerbg {
  background-color: #0051ff;
  height: 50px;
  width: 100%;
  margin: 0;
}

body .container3 {
  height: 800px;
}

body .container3 h3 {
  font-size: 60px;
  text-decoration: overline;
  color: #0051ff;
  font-weight: 700;
  text-align: left;
  padding: 80px 150px 50px;
}

body .container3 p {
  color: #313131;
  font-size: 25px;
  width: 80%;
  margin: 10px 150px;
  text-align: left;
}

body .container3 .map {
  width: 80%;
  margin: 0 100px;
}

body .container3 .cards {
  border: none;
  margin: 0px;
  width: 30%;
  margin-right: 20px;
  float: left;
}

body .container3 .cards .card-body {
  margin-top: 0px;
  padding-top: 0px;
}

body .container3 .cards .card-body .card-text {
  text-align: left;
  margin-left: 0px;
}

body .container3 .card1 {
  margin-left: 150px;
  overflow: hidden;
}

body .container3 .card1 .america {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

body .container3 .card1 .america:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

body .container3 .card2 .cardimg {
  margin-top: 0px;
}

body .container3 .card2 .cardimg .cimg {
  margin-top: 0;
  height: 350px;
  overflow: hidden;
}

body .container3 .card2 .cardimg .cimg .europe {
  margin-top: -320px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

body .container3 .card2 .cardimg .cimg .europe:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

body .container3 div {
  margin-top: 30px;
}

body .container4 {
  width: 100%;
  background-color: #0051ff;
  padding-bottom: 30px;
}

body .container4 h4 {
  font-size: 60px;
  width: 90%;
  text-decoration: overline;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: auto;
  padding-top: 80px;
}

body .container4 ul {
  color: white;
  text-align: center;
}

body .container4 button {
  width: 10%;
  font-weight: 600;
  font-size: 18px;
  margin: 50px auto;
}
/*# sourceMappingURL=main.css.map */